@font-face 
{
	font-family: "ArialRegular";
	src: url("../fonts/ArialRegular/ArialRegular.eot");
	src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
	url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face 
{
	font-family: "ArialBold";
	src: url("../fonts/ArialBold/ArialBold.eot");
	src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ArialBold/ArialBold.woff") format("woff"),
	url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.container
{
	width: 570px;
	height: 570px;
	background: url(../img/bg.png);
	padding: 100px 125px;
}

.box
{
	width: 320px;
	height: 370px;
	background: #fff;
	border: 1px solid #cfdede;
}

.account
{
	width: 149px;
	height: 25px;
	background: #01b3b3;
	margin-top: -3px;
	margin-left: 30px;
	text-align: center;
	line-height: 25px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.titleacc
{
	font-size: 12px;
	color: #fff;
	font-family: "ArialBold";
}

.application
{
	width: 260px;
	height: 285px;
	margin: 30px;
}

.form-1
{
	width: 260px;
	height: 55px;
	margin-bottom: 20px;
}

.signature
{
	font-size: 12px;
	color: #333;
	font-family: "ArialBold";
	margin-bottom: 15px;
}

span
{
	color: #01b3b3;
}

.field
{
	width: 260px;
	height: 30px;
	background: url(../img/bg.png);
	border: 1px solid #cfdede;
	padding-left: 10px;
	padding-bottom: 9px;
}

input::-webkit-input-placeholder { font-size: 12px; font-weight: "ArialRegular"; font-style: italic; }

.btn
{
	width: 260px;
	height: 45px;
	background: rgba(6,191,191,1);
	background: -moz-linear-gradient(left, rgba(6,191,191,1) 0%, rgba(10,161,161,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,191,191,1)), color-stop(100%, rgba(10,161,161,1)));
	background: -webkit-linear-gradient(left, rgba(6,191,191,1) 0%, rgba(10,161,161,1) 100%);
	background: -o-linear-gradient(left, rgba(6,191,191,1) 0%, rgba(10,161,161,1) 100%);
	background: -ms-linear-gradient(left, rgba(6,191,191,1) 0%, rgba(10,161,161,1) 100%);
	background: linear-gradient(to right, rgba(6,191,191,1) 0%, rgba(10,161,161,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06bfbf', endColorstr='#0aa1a1', GradientType=1 );
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
	font-family: "ArialBold";
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	margin-top: 16px;
}

